h3,
h4,
p {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar li {
  display: inline-flex;
  justify-content: space-between;
  padding: 30px 20px 15px 0;
  line-height: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.navbar h3 {
  display: inline;
  padding: 30px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  color: #ad111e;
  transition: 0.3s ease-in-out;
}

.sepphoris {
  width: 97.5%;
  display: block;
  margin: 0 auto;
  padding: 1em 0;
}

.bio {
  margin: 1rem;
}

footer {
  padding: 4em 0 4em 1.2em;
}

.socials {
  display: flex;
  justify-content: end;
  font-size: 23px;
  margin-right: 1.2em;
  margin-bottom: 1em;
}

.socials a {
  color: #474745;
}

.socials a:hover {
  color: #ad111e;
}

.email {
  padding-right: 15px;
}

.instagram {
  padding-right: 15px;
}

.credits {
  display: inline-flex;
  color: #474745;
}

.copyright-text {
  display: inline-flex;
  margin-right: 3em;
  color: #474745;
}

.bio {
  padding: 5em 0;
  text-align: start;
}
